.main {
  min-height: 100vh;
  position: relative;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 85vh;
    color: white;

    & > p {
      max-width: 500px;
      padding: 5px 5px 15px;
      position: relative;
    }
  }

  .video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .centerImg {
    margin-bottom: 20px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255 157 0);
    padding: 15px 50px;
    border: 2px solid black;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: transparent;
      color: rgb(255 157 0);
      border: 2px solid rgb(255 157 0);
    }
  }
}