.header {
  background: rgb(22 24 29);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.menu {
  display: flex;
  list-style: none;
}

.list {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color:rgb(228 228 228);
  font-size: 14px;
  transition: 0.2s;
  &:hover {
    color: rgb(255 157 0);

  }
}

.tg {
  width: 32px;
  height: 32px;
}