@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&display=swap');

@font-face {
  font-family: Gilroy;
  src: url("./fonts/Gilroy-Black.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Edu NSW ACT Foundation', cursive ,'Gilroy', -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.container {
  max-width: 1600px;
  margin: 0 auto;
}

.App {
  overflow: hidden;
}
